En este nootbook trabajé con los datos de "crude oil" de la base de datos de la International Energy Statistics [database] (United Nations Statistics Division, 2018). Se puede obtener aqui: http://data.un.org/Explorer.aspx

Los datos a obtener eran el valor anual de la suma de las exportaciones menos las importaciones de petróleo:: crudo de los exportadores netos.
Asumismos que la base de datos se refiere a ellos como "Conventional Crude Oil"

In [1]:
import pandas as pd

In [2]:

#Leer la direccion, luego el archivo csv, luego transformalo en un DataFrame 
imports = "/Users/Deneb/git/Independent_Projects/PetroleoArellanes/Databases/UNSD/UNdata_Export_20200724_213546535.csv"
exports = "/Users/Deneb/git/Independent_Projects/PetroleoArellanes/Databases/UNSD/UNdata_Export_20200724_213715549.csv"

imports = pd.read_csv(imports)
exports = pd.read_csv(exports)

imports = pd.DataFrame(imports)
exports = pd.DataFrame(exports)

In [3]:
# #Obtener lista de exportadores del archivo proporcionadp
# exp_netos = pd.read_excel("../Exportadores netos 1990-2015.xlsx",  sheet_name="Lista 2", header=None)
# exp_netos = exp_netos[1].to_list()
# #Elimina los primeros tres, porque son NaN
# del exp_netos[0:3]

##Para conincidir con la base de datos traduje con google traslate los nombres de los paises
#exp_netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','UAE','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar','Nigeria','Norway','Oman','Qatar','UK','RD of the Congo','Russia','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Vietnam','Venezuela','Yemen']


##### Estos paises tenian nombres diferentes a los de la lista original
        # Bolivia = Bolivia (Plur. State of)
        # Brunei = Brunei Darussalam
        # UAE = United Arab Emirates
    # Estonia = no aparece en la base de datos ni como exportador ni como importador
        # Iran =  Iran (Islamic Rep. of)
        # UK = United Kingdom
        # RD of the Congo = Dem. Rep. of the Congo
        # Russia = Russian Federation 
        # Vietnam = Viet Nam
        # Venezuela = Venezuela (Bolivar. Rep.)


####Use este codigo para identificar cualese estaban y cuales no
# exporters_list = imports["Country or Area"].to_list()
# for x in netos:
#     if x not in exporters_list:
#         print(x)


##### Lista de productores netos adecuada a como aparecen los nombres en la base de datos
netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia (Plur. State of)','Brazil','Brunei Darussalam','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','United Arab Emirates','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran (Islamic Rep. of)','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar','Nigeria','Norway','Oman','Qatar','United Kingdom','Dem. Rep. of the Congo','Russian Federation','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Viet Nam','Venezuela (Bolivar. Rep.)','Yemen']

### Estos 18 paises no aparecen en la base de datos de importadores 
#['Angola', 'Saudi Arabia', 'Benin', 'Bolivia (Plur. State of)', 'Brunei Darussalam', 'Congo', 'United Arab Emirates', 'Estonia', 'Gabon', 'Iran (Islamic Rep. of)', 'Iraq', 'Kuwait', 'Libya', 'Mongolia', 'Nigeria', 'Oman', 'Qatar', 'South Sudan']

###Estos paises no aparecen en la base de datos de exportadores 
# ['Estonia']

En la lista de importadores hay: 32 paises con 658 registros 

En la lista de exportadores hay: 49 paises con 1240 registros

In [4]:
#Filtra en la base de datos (BD) solo los países que esten en la lista de productores netos
importers = imports.loc[imports["Country or Area"].isin(netos)]
exporters = exports.loc[exports["Country or Area"].isin(netos)]

#En ambas BD castea el valor de año, 
importers = importers.astype({"Year" : "int32"})
exporters = exporters.astype({"Year" : "int32"})

#En ambas BD elimina las columnas de unidad y transacción
importers = importers.drop(columns=["Commodity - Transaction", "Unit"])
exporters = exporters.drop(columns=["Commodity - Transaction", "Unit"])

#En ambas BD agrega la unidad al nombre de la columna, y cambia el nombre de las notas y pais
importers = importers.rename(columns={"Quantity Footnotes" : "imp_notes", "Quantity" : "Imports (Metric tons, thousand)", "Country or Area" : "Country"})
exporters = exporters.rename(columns={"Quantity Footnotes" : "exp_notes", "Quantity" : "Exports (Metric tons, thousand)", "Country or Area" : "Country"})

In [5]:
#Combina las dos BD en una sola
exp_imp = exporters.merge(importers, how="left", on=["Country", "Year"])  
#Transforma los valores Nan en la columna de importaciones en valores de 0
exp_imp["Imports (Metric tons, thousand)"] = exp_imp["Imports (Metric tons, thousand)"].fillna(0)
#Verifica que no se haya perdido ningun dato, comparando la extension de exportadores vs nueva BD
len(exporters) - len(exp_imp)

0

In [6]:
#Create a new column which substract imports to exports to get net exports
exp_imp["Net exports"] =  (exp_imp["Exports (Metric tons, thousand)"] - exp_imp["Imports (Metric tons, thousand)"])

In [32]:
netas = exp_imp
netas.head()

,Country,Year,"Exports (Metric tons, thousand)",exp_notes,"Imports (Metric tons, thousand)",imp_notes,Net exports
0,Albania,2017,488.00,NaN,0.0,NaN,488.00
1,Albania,2016,888.00,NaN,0.0,NaN,888.00
2,Albania,2015,987.00,NaN,0.0,NaN,987.00
3,Albania,2014,1007.22,NaN,0.0,NaN,1007.22
4,Albania,2013,1167.00,NaN,0.0,NaN,1167.00

# NEXT STEPS
- CREAR UNA TABLA EN QUE EL AÑO ESTE HORIZONTAL Y EL PAÍS EN VERTICAL / PARA ANALISIS VISUAL
- DEJAR LA OTRA TABLA PARA USO DE DATA 
- CREAR UNA GRAFICA

In [33]:
netas = netas.pivot_table("Net exports", ["Country"], "Year")
netas

Year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,221.230000,586.47000,597.810000,920.070000,1167.00000,1007.220000,987.000000,888.00,488.000000,NaN
Algeria,14007.0,16182.0,15634.0,13944.0,15150.0000,14955.0000,17825.0000,17017.0000,19062.0000,19023.0000,...,34365.000000,32654.00000,32218.000000,31586.000000,27984.00000,23256.000000,23914.000000,24994.00,24455.000000,21676.000000
Angola,22000.0,23250.0,25000.0,23700.0,25500.0000,28065.0000,30794.0000,32723.0000,34386.0000,34448.0000,...,88622.000000,85997.00000,77278.000000,83390.000000,83470.00000,80395.000000,86919.000000,83953.00,74770.000000,NaN
Argentina,870.0,1053.0,3032.0,4306.0,9974.0000,13240.0000,15940.0000,16169.0000,15302.0000,12855.0000,...,4680.000000,2861.00000,3057.000000,2861.000000,1568.00000,1410.000000,1041.000000,1823.00,364.000000,NaN
Azerbaijan,NaN,NaN,NaN,NaN,-853.0000,-42.0000,0.0000,-28.0000,1812.0000,5684.0000,...,44331.000000,42659.00000,37268.000000,34728.000000,34260.00000,32903.000000,32843.000000,32479.00,30488.000000,NaN
Benin,193.0,185.0,128.0,210.0,177.0000,130.0000,112.0000,90.0000,49.0000,49.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolivia (Plur. State of),0.0,49.0,17.0,63.0,67.0000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.00000,0.000000,0.000000,353.00000,453.000000,59.000000,0.00,0.000000,NaN
Brazil,-28617.0,-26361.0,-26566.0,-25477.0,-27957.0000,-24676.0000,-28490.0000,-29077.0000,-27973.0000,-23711.0000,...,7640.000000,14846.00000,13829.000000,9556.000000,136.00000,8659.000000,22521.000000,35482.00,45922.000000,45634.000000
Brunei Darussalam,7333.0,8079.0,8800.0,8489.0,8684.0000,8369.0000,8030.0000,7920.0000,7136.0000,8373.0000,...,7064.000000,7342.00000,6740.000000,6920.000000,5822.00000,5362.000000,5763.000000,5209.00,4871.000000,4570.543000
Cameroon,7410.0,7010.0,6620.0,6170.0,3830.0000,4945.0000,5280.0000,5456.0000,6114.0000,5427.0000,...,1817.000000,1110.00000,834.000000,1377.000000,2166.00000,2126.000000,2853.000000,2868.00,2360.000000,NaN
Canada,551.0,5075.0,9135.0,9708.0,11178.0000,15685.0000,14401.0000,13783.0000,18423.0000,11137.0000,...,31624.000000,38521.00000,52176.000000,53461.000000,69297.00000,78426.000000,77331.000000,97295.00,103983.000000,119891.000000
China,21067.0,16625.0,10150.0,3759.0,6145.0000,1137.0000,-2215.0000,-15640.0000,-11720.0000,-29447.0000,...,-198580.000000,-234652.00000,-251264.500000,-268595.000000,-280124.80000,-307773.700000,-332617.200000,-378066.30,-414601.600000,NaN
Colombia,9682.0,8785.0,9138.0,10188.0,9753.0000,16172.0000,16668.0000,17933.0000,21525.0000,23398.0000,...,17672.000000,23695.00000,30118.000000,31436.654846,38365.00000,33072.219858,41514.609929,32420.00,32466.000000,29818.000000
Congo,7421.0,7405.0,7920.0,8960.0,8878.0000,8710.0000,9790.0000,11020.0000,12243.0000,13171.0000,...,13446.000000,14984.00000,13586.000000,12884.000000,11551.00000,11637.000000,11320.000000,11094.00,12856.000000,NaN
Dem. Rep. of the Congo,1035.0,997.0,922.0,902.0,1088.0000,1082.0000,1079.0000,1080.0000,1077.0000,1121.0000,...,1109.000000,1109.00000,1205.000000,1197.000000,1129.00000,1061.000000,1048.000000,996.00,1198.000000,NaN
Denmark,-1343.0,-858.0,-819.0,64.0,647.0000,-610.0000,-253.0000,2703.0000,3580.0000,6485.0000,...,5046.000000,4990.00000,4255.000000,2342.000000,1495.00000,1341.000000,359.000000,42.00,-725.000000,-1902.000000
Ecuador,8911.0,9337.0,10643.0,11404.0,12421.0000,12686.0000,11056.0000,12780.0000,12277.0000,12112.0000,...,16064.900000,16868.40000,16552.600000,17421.800000,18966.40000,20890.300000,20687.700000,19514.60,18347.530000,NaN
Egypt,19113.0,20631.0,21171.0,19610.0,8346.0000,8369.0000,6685.0000,6148.0000,-3024.0000,-2032.0000,...,2916.000000,4387.00000,2249.000000,6611.000000,8995.00000,7221.000000,9161.000000,5394.00,3311.000000,NaN
Gabon,11909.0,13819.0,13546.0,14757.0,16526.0000,17651.0000,17796.0000,18057.0000,17009.0000,15055.0000,...,10586.000000,12156.00000,11019.000000,10785.000000,10165.00000,10150.000000,10701.000000,10561.00,9181.000000,NaN
Georgia,NaN,NaN,NaN,NaN,-200.0000,0.0000,113.0000,104.0000,54.0000,40.0000,...,55.000000,53.00000,46.000000,37.000000,57.00000,41.200000,19.600000,-24.60,-52.200000,5.050000
Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-982.900000,-1603.00000,2001.400000,2566.500000,3847.70000,4693.000000,4899.000000,2826.00,7908.000000,8663.000000
Guatemala,-371.0,-500.0,-531.0,-407.0,-600.0000,-360.0000,-2.0000,124.0000,369.0000,157.0000,...,631.000000,555.00000,527.000000,488.000000,440.40000,410.800000,431.300000,367.70,392.620000,NaN
Indonesia,27212.0,35136.0,31190.0,30284.0,35607.0000,31268.0000,28831.0000,29468.0000,27805.0000,23543.0000,...,1874.000000,3827.00000,5288.000000,2647.000000,-5565.00000,-5095.000000,-4889.000000,-2321.00,-3854.000000,NaN
Iran (Islamic Rep. of),110000.0,120177.0,126095.0,129116.0,120376.0000,121021.0000,119958.0000,119631.0000,108649.0000,105766.0000,...,109264.604811,111997.42268,110700.171821,56475.945017,50915.80756,53405.498282,56230.240550,104500.00,115553.000000,NaN
Iraq,78159.0,2120.0,2973.0,2899.0,2938.0000,3119.0000,4327.0000,36867.0000,79685.0000,100637.0000,...,94012.000000,93223.00000,106931.000000,119328.000000,117466.00000,123677.000000,147539.000000,187360.00,186774.000000,NaN
Kazakhstan,NaN,NaN,2066.0,5065.0,6128.0000,9015.0000,12933.0000,15295.0000,14186.0000,19982.0000,...,51550.000000,46984.00000,53095.000000,52024.000000,50584.00000,52910.000000,51812.000000,49751.00,56642.000000,NaN
Kuwait,32620.0,6436.0,37580.0,73022.0,63532.0000,57433.0000,59880.0000,53737.0000,60266.0000,48030.0000,...,67154.000000,68829.00000,87897.000000,101296.000000,102646.00000,101123.000000,99637.000000,107879.00,102782.000000,NaN
Kyrgyzstan,NaN,NaN,86.0,61.0,69.0000,22.0000,9.0000,-25.0000,-62.0000,NaN,...,-24.000000,-15.00000,-12.000000,-6.000000,1.00000,-60.000000,-224.000000,-243.00,-277.000000,NaN
Libya,54300.0,58815.0,56926.0,53450.0,52204.0000,50764.0000,50285.0000,50062.0000,53892.0000,44406.0000,...,63087.000000,64789.00000,14420.000000,61807.000000,41689.00000,16425.000000,14380.000000,14683.00,37955.000000,NaN
Malaysia,21473.0,21532.0,21780.0,19669.0,17804.0000,17894.0000,16097.0000,14616.0000,17240.0000,16841.0000,...,6889.000000,7314.00000,2223.000000,1926.000000,1627.00000,1982.000000,7436.000000,5557.00,4660.000000,NaN
Mexico,69631.0,74849.0,74847.0,73360.0,71087.0000,70781.0000,80191.0000,89880.0000,90886.0000,83063.0000,...,64964.000000,71612.00000,70361.000000,66181.000000,62912.00000,59823.000000,59932.000000,63247.00,62607.000000,63364.000000
Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.400000,245.10000,302.200000,422.200000,620.60000,814.800000,962.700000,948.60,889.300000,732.500000
Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-654.0000,...,94.030000,0.00000,0.000000,139.520000,235.64000,240.590000,144.060000,148.58,240.590000,NaN
Nigeria,74892.0,77852.0,82216.0,83455.0,84062.0000,84416.0000,92932.0000,102393.0000,94169.0000,94226.0000,...,102559.000000,115294.00000,109611.000000,110770.000000,101606.00000,103178.000000,102892.000000,86058.00,86490.000000,NaN
Norway,65158.0,79285.0,90476.0,97309.0,110865.0000,121350.0000,137516.0000,138761.0000,132328.0000,131435.0000,...,86946.000000,78840.00000,71336.000000,65452.000000,60699.00000,63066.000000,63764.000000,68761.00,65279.000000,61267.000000
Oman,31193.0,31944.0,34327.0,36343.0,36892.0000,38773.0000,40341.0000,41507.0000,40889.0000,42135.0000,...,32657.000000,36379.00000,36064.000000,37507.000000,40497.00000,39221.000000,41356.000000,43266.00,39596.000000,39521.900000
Qatar,16742.0,16203.0,17517.0,16576.0,15700.0000,15762.0000,17371.0000,22010.0000,27094.0000,27520.0000,...,32138.000000,31633.00000,31863.000000,31767.000000,29133.00000,30614.000000,28216.000000,28051.00,25647.000000,NaN
Russian Federation,NaN,NaN,131755.0,117256.0,121897.0000,113832.0000,119713.0000,122885.0000,131661.0000,129911.0000,...,247115.000000,243260.00000,244490.000000,239125.000000,235761.00000,221961.000000,241659.000000,252844.00,252169.000000,NaN
Saudi Arabia,241742.0,325295.0,328066.0,326247.0,320373.0000,323224.0000,313898.0000,325499.0000,339077.0000,305169.0000,...,294854.000000,288813.00000,351154.000000,370327.000000,375945.00000,353920.000000,357172.270000,373168.17,347428.109966,367531.915808
South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1550.000000,4938.00000,7749.000000,7320.000000,5821.00,5383.000000,NaN
Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1315.000000,2169.00000,1788.000000,505.000000,-154.00,-577.400000,NaN
Trinidad and Tobago,2975.0,1587.0,1175.0,1149.0,1541.0000,1653.0000,897.0000,532.0000,-1072.0000,-1251.0000,...,-2116.000000,-1177.00000,-2295.000000,-1372.000000,-2348.00000,-1242.000000,-2444.000000,-3779.00,-3146.000000,NaN
Tunisia,2886.0,3326.0,3731.0,2867.0,2656.0000,2607.0000,2249.0000,1881.0000,2037.0000,2118.0000,...,2157.000000,3490.00000,2361.000000,1486.000000,1036.00000,1021.000000,919.000000,858.00,955.000000,NaN
Turkmenistan,NaN,NaN,-1119.0,69.0,-419.0000,0.0000,100.0000,900.0000,1600.0000,1500.0000,...,2000.000000,1300.00000,2300.000000,3100.000000,3600.00000,3200.000000,3450.000000,2480.00,1700.000000,NaN
United Arab Emirates,93611.0,100696.0,94502.0,92750.0,91999.0000,91147.0000,91893.0000,93558.0000,94774.0000,95678.0069,...,100238.000000,106861.00000,122347.000000,126477.000000,134497.00000,127327.000000,124538.000000,120236.00,118463.000000,NaN
United Kingdom,12444.0,7076.0,8088.0,9668.0,35586.0000,39028.0000,35218.0000,33780.0000,40204.0000,45731.0000,...,-7658.000000,-10511.00000,-21363.000000,-25228.000000,-19937.00000,-18368.000000,-12749.000000,-8790.00,-9831.000000,-3627.000000
Venezuela (Bolivar. Rep.),65154.0,72893.0,73829.0,79504.0,89233.6062,95692.2753,104191.6881,116138.4912,117817.4468,100909.9000,...,96088.000000,95710.00000,93892.000000,91559.000000,97643.00000,90926.000000,98489.000000,89715.00,81960.000000,NaN
Viet Nam,2655.0,3917.0,5446.0,6312.0,6901.0000,7652.0000,8705.0000,9638.0000,12145.0000,14882.0000,...,13373.000000,7580.00000,7611.000000,8730.000000,7108.00000,8602.000000,9304.000000,6413.00,5625.000000,-351.400000
Yemen,NaN,5308.0,3247.0,6657.0,12447.0000,12799.0000,13104.0000,13651.0000,13947.0000,14696.0000,...,9201.000000,8773.00000,6789.000000,5881.000000,4960.00000,3952.000000,430.000000,0.00,NaN,NaN

In [44]:
totales = netas.fillna(0)
totales = netas.sum().map('{:.4f}'.format)
totales

Year
1990    1104018.0000
1991    1155210.0000
1992    1340739.0000
1993    1373438.0000
1994    1408232.6062
1995    1434760.2753
1996    1475248.6881
1997    1551026.4912
1998    1626918.4468
1999    1559618.9069
2000    1605441.7055
2001    1592267.7278
2002    1541323.6459
2003    1653686.2824
2004    1706719.5055
2005    1733527.7455
2006    1750652.8382
2007    1703736.0056
2008    1680766.7289
2009    1556973.2648
2010    1544169.3927
2011    1561657.6818
2012    1572659.6899
2013    1541548.7476
2014    1458901.9281
2015    1519536.2805
2016    1586573.7500
2017    1539094.9500
2018     756794.5088
dtype: object

Year
1990    float64
1991    float64
1992    float64
1993    float64
1994    float64
1995    float64
1996    float64
1997    float64
1998    float64
1999    float64
2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
dtype: object

In [91]:
#netas.to_excel("../Excel_reports/Exportaciones_netas.xlsx")