In [19]:
import pandas as pd

In [20]:

#Leer la direccion, luego el archivo csv, luego transformalo en un DataFrame 
imports = "/Users/Deneb/git/Independent_Projects/PetroleoArellanes/Databases/UNSD/UNdata_Export_20200724_213546535.csv"
exports = "/Users/Deneb/git/Independent_Projects/PetroleoArellanes/Databases/UNSD/UNdata_Export_20200724_213715549.csv"

imports = pd.read_csv(imports)
exports = pd.read_csv(exports)

imports = pd.DataFrame(imports)
exports = pd.DataFrame(exports)

In [21]:
# #Obtener lista de exportadores del archivo proporcionadp
# exp_netos = pd.read_excel("../Exportadores netos 1990-2015.xlsx",  sheet_name="Lista 2", header=None)
# exp_netos = exp_netos[1].to_list()
# #Elimina los primeros tres, porque son NaN
# del exp_netos[0:3]

##Para conincidir con la base de datos traduje con google traslate los nombres de los paises
#exp_netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','UAE','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar','Nigeria','Norway','Oman','Qatar','UK','RD of the Congo','Russia','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Vietnam','Venezuela','Yemen']


##### Estos paises tenian nombres diferentes a los de la lista original
        # Bolivia = Bolivia (Plur. State of)
        # Brunei = Brunei Darussalam
        # UAE = United Arab Emirates
    # Estonia = no aparece en la base de datos ni como exportador ni como importador
        # Iran =  Iran (Islamic Rep. of)
        # UK = United Kingdom
        # RD of the Congo = Dem. Rep. of the Congo
        # Russia = Russian Federation 
        # Vietnam = Viet Nam
        # Venezuela = Venezuela (Bolivar. Rep.)


####Use este codigo para identificar cualese estaban y cuales no
# exporters_list = imports["Country or Area"].to_list()
# for x in netos:
#     if x not in exporters_list:
#         print(x)


##### Lista adecuada a la base de datos
netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia (Plur. State of)','Brazil','Brunei Darussalam','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','United Arab Emirates','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran (Islamic Rep. of)','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar','Nigeria','Norway','Oman','Qatar','United Kingdom','Dem. Rep. of the Congo','Russian Federation','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Viet Nam','Venezuela (Bolivar. Rep.)','Yemen']

### Estos 18 paises no aparecen en la base de deatos de importadores 
#['Angola', 'Saudi Arabia', 'Benin', 'Bolivia (Plur. State of)', 'Brunei Darussalam', 'Congo', 'United Arab Emirates', 'Estonia', 'Gabon', 'Iran (Islamic Rep. of)', 'Iraq', 'Kuwait', 'Libya', 'Mongolia', 'Nigeria', 'Oman', 'Qatar', 'South Sudan']

###Estos paises no aparecen en la base de datos de exportadores 
# ['Estonia']

En la lista de importadores hay: 32 paises con 658 registros 

En la lista de exportadores hay: 49 paises con 1240 registros

In [55]:
importers = imports.loc[imports["Country or Area"].isin(netos)]

exporters = exports.loc[exports["Country or Area"].isin(netos)]

In [58]:
importers.head()

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - imports,1999.0,"Metric tons, thousand",0.0,NaN
1,Albania,Conventional crude oil - imports,1998.0,"Metric tons, thousand",5.0,NaN
2,Albania,Conventional crude oil - imports,1997.0,"Metric tons, thousand",6.0,NaN
3,Albania,Conventional crude oil - imports,1996.0,"Metric tons, thousand",5.0,NaN
4,Albania,Conventional crude oil - imports,1995.0,"Metric tons, thousand",0.0,NaN

In [59]:
exporters.head()

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - exports,2017.0,"Metric tons, thousand",488.00,NaN
1,Albania,Conventional crude oil - exports,2016.0,"Metric tons, thousand",888.00,NaN
2,Albania,Conventional crude oil - exports,2015.0,"Metric tons, thousand",987.00,NaN
3,Albania,Conventional crude oil - exports,2014.0,"Metric tons, thousand",1007.22,NaN
4,Albania,Conventional crude oil - exports,2013.0,"Metric tons, thousand",1167.00,NaN