In [4]:
import pandas as pd
incidentes = pd.read_csv("../Databases/UCDP Uppsala Conflict Data Program/ged201.csv")
incidentes = pd.DataFrame(incidentes)

In [5]:

available = incidentes["country"].unique().tolist()

#Myanmar appears as Myanmar (Burma),  Dem. Rep. of the Congo as DR Congo (Zaire), Russia as Russia (Soviet Union), Yemen as Yemen (North Yemen) 
netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia','Brazil','Brunei Darussalam','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','United Arab Emirates','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar (Burma)','Nigeria','Norway','Oman','Qatar','United Kingdom','DR Congo (Zaire)','Russia (Soviet Union)','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Viet Nam','Venezuela','Yemen (North Yemen)']

#### Check which countries are available
# for country in netos:
#     if country not in available:
#         print(country)

#By comparing list we fount that there is not incidents or data for the next countries or our interest:

# Brunei Darussalam
# Denmark
# Estonia
# Gabon
# Kazakhstan
# Mongolia
# Norway
# Oman
# Turkmenistan
# Viet Nam

In [9]:
conflictos = incidentes[['id', 'year', 'active_year', 'country', 'region', 'date_start', 'date_end', 'best', 'high', 'low', 'latitude', 'longitude']]

In [6]:
#Filter data to our interested countries
netos = incidentes.loc[incidentes["country"].isin(netos)]
len(incidentes) - len(netos)

In [10]:
#transform date columns to datetime in order to manage dates better
netos["date_start"] = pd.to_datetime(netos["date_start"])
netos["date_end"] = pd.to_datetime(netos["date_end"])

#Get just month and year from dates
netos["Start_month"] = pd.to_datetime(netos["date_start"]).dt.to_period("M")
netos["End_month"] = pd.to_datetime(netos["date_end"]).dt.to_period("M")

#Get rid of exact date
netos = netos.drop(columns=["date_start", "date_end"])


netos.head()

,id,year,active_year,country,region,best,high,low,latitude,longitude,Start_month,End_month
0,244657,2017,1,Afghanistan,Asia,6,6,6,34.531094,69.162796,2017-07,2017-07
1,132140,1989,1,Afghanistan,Asia,6,6,6,34.333330,70.416670,1989-01,1989-01
2,130364,1989,1,Afghanistan,Asia,4,4,0,36.750000,68.750000,1989-01,1989-01
3,130359,1989,1,Afghanistan,Asia,600,600,600,35.315833,69.038889,1989-01,1989-01
4,133883,1989,1,Afghanistan,Asia,2,2,0,34.531094,69.162796,1989-01,1989-02

In [11]:
incidentes.head()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
2,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-18 00:00:00.000,0,0,0,4,4,4,0,700,NaN
3,130359,AFG-1989-1-411-4,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-24 00:00:00.000,0,0,0,600,600,600,600,700,NaN
4,133883,AFG-1989-1-411-39,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-05 00:00:00.000,0,0,0,2,2,2,0,700,NaN

In [30]:
netos.dtypes

id                 int64
year               int64
active_year        int64
country           object
region            object
best               int64
high               int64
low                int64
latitude         float64
longitude        float64
Start_month    period[M]
End_month      period[M]
dtype: object

In [17]:
netos.dtypes

id                      int64
year                    int64
active_year             int64
country                object
region                 object
date_start     datetime64[ns]
date_end       datetime64[ns]
best                    int64
high                    int64
low                     int64
latitude              float64
longitude             float64
dtype: object