In [24]:
import pandas as pd
incidentes = pd.read_csv("../Databases/UCDP Uppsala Conflict Data Program/ged201.csv")
incidentes = pd.DataFrame(incidentes)

In [25]:
###Take a look on available countries in the dataset
#available = incidentes["country"].unique().tolist()

#Myanmar appears as Myanmar (Burma),  Dem. Rep. of the Congo as DR Congo (Zaire), Russia as Russia (Soviet Union), Yemen as Yemen (North Yemen) 
netos = ['Albania','Angola','Saudi Arabia','Algeria','Argentina','Benin','Azerbaijan','Bolivia','Brazil','Brunei Darussalam','Cameroon','Canada','China','Colombia','Congo','Denmark','Ecuador','Egypt','United Arab Emirates','Estonia','Gabon','Indonesia','Georgia','Ghana','Guatemala','Iran','Iraq','Kazakhstan','Kyrgyzstan','Kuwait','Libya','Malaysia','Mexico','Mongolia','Myanmar (Burma)','Nigeria','Norway','Oman','Qatar','United Kingdom','DR Congo (Zaire)','Russia (Soviet Union)','Trinidad and Tobago','Sudan','South Sudan','Tunisia','Turkmenistan','Viet Nam','Venezuela','Yemen (North Yemen)']

#### Check which countries are available
# for country in netos:
#     if country not in available:
#         print(country)

#By comparing list we fount that there is not incidents or data for the next countries or our interest:

# Brunei Darussalam
# Denmark
# Estonia
# Gabon
# Kazakhstan
# Mongolia
# Norway
# Oman
# Turkmenistan
# Viet Nam

In [26]:
#Filter data to our interested countries
netos = incidentes.loc[incidentes["country"].isin(netos)]
(f'avaliable data: {len(incidentes) - len(netos)}') 
#Give me just this columns 
conflictos = netos[['conflict_name', 'year', 'active_year', 'country', 'region', 'date_start', 'date_end', 'best', 'high', 'low', 'latitude', 'longitude']]
conflictos.head()

,conflict_name,year,active_year,country,region,date_start,date_end,best,high,low,latitude,longitude
33612,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,1999-04-09 00:00:00.000,1999-04-09 00:00:00.000,4,4,4,42.450278,20.184167
33613,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,1999-04-11 00:00:00.000,1999-04-11 00:00:00.000,2,2,2,42.404167,20.166667
33614,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,1999-05-26 00:00:00.000,1999-05-26 00:00:00.000,0,2,0,42.198056,20.473889
33615,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,1999-06-04 00:00:00.000,1999-06-04 00:00:00.000,0,1,0,42.244444,20.342500
33616,Algeria: Government,1990,0,Algeria,Africa,1990-12-20 00:00:00.000,1990-12-20 00:00:00.000,1,1,1,36.147656,3.691227

In [27]:
#transform date columns to datetime in order to manage dates better
conflictos["date_start"] = pd.to_datetime(conflictos["date_start"])
conflictos["date_end"] = pd.to_datetime(conflictos["date_end"])

#Get just month and year from dates
conflictos["Start_month"] = pd.to_datetime(conflictos["date_start"]).dt.to_period("M")
conflictos["End_month"] = pd.to_datetime(conflictos["date_end"]).dt.to_period("M")

#Get rid of exact date
conflictos = conflictos.drop(columns=["date_start", "date_end"])

conflictos.head()

,conflict_name,year,active_year,country,region,best,high,low,latitude,longitude,Start_month,End_month
33612,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,4,4,4,42.450278,20.184167,1999-04,1999-04
33613,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,2,2,2,42.404167,20.166667,1999-04,1999-04
33614,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,0,2,0,42.198056,20.473889,1999-05,1999-05
33615,Serbia (Yugoslavia): Kosovo,1999,1,Albania,Europe,0,1,0,42.244444,20.342500,1999-06,1999-06
33616,Algeria: Government,1990,0,Algeria,Africa,1,1,1,36.147656,3.691227,1990-12,1990-12