In [18]:
import pandas as pd 
#Last downloaded on september 10th
terrorism = pd.read_excel("../Databases/Global Terrorism Database/globalterrorismdb_0919dist.xlsx")
terrorism = pd.DataFrame(terrorism)

In [40]:
#From the table only get the following columns
data = terrorism[[ 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt','targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
  'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
  'latitude',
 'longitude', 
  'motive']]

len(terrorism)

191464

In [27]:
#Congo appears as Republic of the Congo,  Democratic Republic of the Congo appears also as People's Republic of the Congo,  Russia appears also as Soviet Union, Yemen also as North Yemen, and Vietnam appears also as South Vietnam

#There´s no data for Mongolia and Oman

#List of countries of interest as appears in the Data Base
netos = ['Albania','Algeria','Angola','Argentina','Azerbaijan','Benin','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Republic of the Congo','Democratic Republic of the Congo', "People's Republic of the Congo" ,'Denmark','Ecuador','Egypt','Estonia','Gabon','Georgia','Ghana','Guatemala','Indonesia','Iran','Iraq','Kazakhstan','Kuwait','Kyrgyzstan','Libya','Malaysia','Mexico','Mongolia','Myanmar','Nigeria','Norway','Oman','Qatar','Russia', 'Soviet Union','Saudi Arabia','South Sudan','Sudan','Trinidad and Tobago','Tunisia','Turkmenistan','United Arab Emirates','United Kingdom','Venezuela','Vietnam','Yemen' , 'North Yemen']

# #Listo of available countries in the Data Base
# available = targets["country_txt"].unique().tolist()

# #Check which countries of our interest does not appear in de DB
# for x in netos:
#     if x not in available:
#         print(x)

In [43]:
#Get only the data for countries we are interested in
targets = data.loc[data["country_txt"].isin(netos)]

In [75]:
#Get only the incidentes related to petroleoum 
# (check de code book ) 59 = Oil Tanker, 108 = Oil, 1 = Gas/Oil/Electric
oil = targets.loc[(targets["targsubtype1"] == 59) | (targets["targsubtype1"] == 108) | (targets["targsubtype1"] == 1)]
len(oil)

1605

In [46]:
oil.head()

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,targtype1_txt,targsubtype1,targsubtype1_txt,doubtterr,alternative,alternative_txt,multiple,success,latitude,longitude
1124,1972,1,0,NaN,0,NaT,106,Kuwait,10,Middle East & North Africa,...,Business,1.0,Gas/Oil/Electric,0,NaN,NaN,0,1,NaN,NaN
1430,1972,8,14,NaN,0,NaT,94,Iran,10,Middle East & North Africa,...,Business,1.0,Gas/Oil/Electric,0,NaN,NaN,0,0,35.724533,51.405190
1449,1972,8,23,NaN,0,NaT,94,Iran,10,Middle East & North Africa,...,Utilities,108.0,Oil,0,NaN,NaN,0,0,30.345997,48.287136
2102,1973,11,24,NaN,0,NaT,222,Venezuela,3,South America,...,Utilities,108.0,Oil,0,NaN,NaN,0,1,NaN,NaN
2123,1973,12,6,NaN,1,1974-04-20,11,Argentina,3,South America,...,Business,1.0,Gas/Oil/Electric,0,NaN,NaN,0,1,-34.617680,-58.444435

In [76]:
#As we are just interested in month, we will create a fake date for those rows where the day is missing 
oil["iday"] = oil["iday"].replace({ 0 : 1})

In [77]:
#Create a column with datetime format to work with and add create a month year column 
oil["period"] = pd.to_datetime(oil.iyear.astype(str) + "/" + oil.imonth.astype(str) + "/" + oil.iday.astype(str)).dt.to_period("M")

In [94]:
period = oil.groupby(["period"]).count()

In [96]:
period

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,targtype1_txt,targsubtype1,targsubtype1_txt,doubtterr,alternative,alternative_txt,multiple,success,latitude,longitude
period,,,,,,,,,,,,,,,,,,,,,
1972-01,1,1,1,0,1,0,1,1,1,1,...,1,1,1,1,0,0,1,1,0,0
1972-08,2,2,2,0,2,0,2,2,2,2,...,2,2,2,2,0,0,2,2,2,2
1973-11,1,1,1,0,1,0,1,1,1,1,...,1,1,1,1,0,0,1,1,0,0
1973-12,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
1974-03,1,1,1,0,1,0,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08,4,4,4,0,4,0,4,4,4,4,...,4,4,4,4,0,0,4,4,4,4
2018-09,8,8,8,0,8,0,8,8,8,8,...,8,8,8,8,0,0,8,8,8,8
2018-10,6,6,6,0,6,0,6,6,6,6,...,6,6,6,6,0,0,6,6,6,6
2018-11,9,9,9,0,9,1,9,9,9,9,...,9,9,9,9,0,0,9,9,9,9
2018-12,5,5,5,1,5,0,5,5,5,5,...,5,5,5,5,0,0,5,5,5,5

In [11]:
cols = terrorism.columns.tolist()
cols

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']