In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

# Monthly Data

In [2]:
#Read Data
Exportaciones_netas = pd.read_csv("../csv_results/Exportaciones_Mensuales_Netas.csv")
Incidentes_geopoliticos = pd.read_csv('../csv_results/incidentes_geopoliticos.csv')
Terrorismo = pd.read_csv("../csv_results/Terrorism.csv")

Variaciones_crudo = pd.read_csv("../csv_results/Variaciones_Crudo_Mensual")
Variaciones_NGPL = pd.read_csv('../csv_results/Variaciones_NGPL_Mensual')
Variaciones_Others = pd.read_csv('../csv_results/Variaciones_Others_Mensual')
Variaciones_Refinado = pd.read_csv('../csv_results/Variaciones_Refinery_Mensual')

#Delete unnecesary columns in the variaciones Data set
del Variaciones_crudo['Unnamed: 0']
del Variaciones_NGPL['Unnamed: 0']
del Variaciones_Others['Unnamed: 0']
del Variaciones_Refinado['Unnamed: 0']

#Delete unnecesary columns in the Incidentes geopoliticos DB
del Incidentes_geopoliticos["Unnamed: 0"]

#Delete unnecesary columns in the Expotaciones_netas DB
Exportaciones_netas = Exportaciones_netas.drop(columns=["Unnamed: 0", "Exp_notes", 'Imp_notes'])

#Delete unnecesary columns in the Terrorismo DB
Terrorismo = Terrorismo.drop(columns=['Unnamed: 0', 'imonth', 'approxdate', 'targtype1', 'targsubtype1', 'doubtterr', 'alternative', 'propextent'])

In [4]:
###Create a list with definitive countries names 
#Problematic countries names are marked with a variant in parenthesis
countries = ['Albania','Algeria','Angola','Argentina','Azerbaijan','Benin','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Republic of the Congo', 'Democratic Republic of the Congo', 'Denmark','Ecuador','Egypt','Estonia','Gabon','Georgia','Ghana','Guatemala','Indonesia','Iran','Iraq','Kazakhstan','Kuwait','Kyrgyzstan','Libya','Malaysia','Mexico','Mongolia', 'Myanmar (Burma)','Nigeria','Norway','Oman','Qatar','Russia (Soviet Union)','Saudi Arabia','South Sudan','Sudan','Trinidad and Tobago','Tunisia','Turkmenistan','United Arab Emirates','United Kingdom','Venezuela','Vietnam','Yemen (North Yemen)']

#### Create a dictionary of countries names who may be replaced
#First create a dictionary with countries in each db
db_countries = { "var" : Variaciones_crudo["Country"].unique().tolist(),
                "exp" : Exportaciones_netas['Country'].unique().tolist(),
                "inc" : Incidentes_geopoliticos['country'].unique().tolist(),
                "ter" : Terrorismo['country_txt'].unique().tolist() }

#Then for each db_list check which countries do not match with our list and put them in a dictionary
to_change = {'var' : [x for x in db_countries["var"] if x not in countries], 
                    'exp' : [x for x in db_countries["exp"] if x not in countries],
                    'inc' : [x for x in db_countries["inc"] if x not in countries],
                    'ter' : [x for x in db_countries["ter"] if x not in countries] }

#Print the dictionary in order to find which names need to be replaced
to_change

{'var': ['Burma', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Russia', 'Yemen'],
 'exp': ['Brunei Darussalam',
  'Bolivia, Plurinational State of',
  'Iran, Islamic Republic of',
  'Myanmar',
  'Russian Federation',
  'Venezuela, Bolivarian Republic of',
  'Viet Nam',
  'Yemen'],
 'inc': ['Congo', 'DR Congo (Zaire)'],
 'ter': ['Myanmar', 'Yemen', 'Russia']}

In [29]:
#Now replace the names in each db

#Exportaciones netas
Exportaciones_netas["Country"] = Exportaciones_netas["Country"].replace({'Brunei Darussalam' : 'Brunei',
  'Bolivia, Plurinational State of' : 'Bolivia',
  'Iran, Islamic Republic of' : 'Iran' ,
  'Myanmar' : 'Myanmar (Burma)',
  'Russian Federation' : 'Russia (Soviet Union)',
  'Venezuela, Bolivarian Republic of' : 'Venezuela',
  'Viet Nam' : 'Vietnam',
  'Yemen' : 'Yemen (North Yemen)'}) 

#Incidentes geopoliticos
Incidentes_geopoliticos["country"] = Incidentes_geopoliticos["country"].replace({'Congo' : 'Republic of the Congo', 'DR Congo (Zaire)' : 'Democratic Republic of the Congo'})

#Terrorismo
Terrorismo["country_txt"] = Terrorismo["country_txt"].replace({'Myanmar' : 'Myanmar (Burma)', 'Yemen' : 'Yemen (North Yemen)' , 'Russia' : 'Russia (Soviet Union)', 'South Vietnam' : 'Vietnam' })

#Variaciones en el valor 
Variaciones_crudo["Country"] = Variaciones_crudo["Country"].replace({'Burma' : 'Myanmar (Burma)', 'Congo-Brazzaville' : 'Republic of the Congo', 'Congo-Kinshasa' : 'Democratic Republic of the Congo', 'Russia' : 'Russia (Soviet Union)' , 'Yemen' : 'Yemen (North Yemen)'})
Variaciones_NGPL["Country"] = Variaciones_NGPL["Country"].replace({'Burma' : 'Myanmar (Burma)', 'Congo-Brazzaville' : 'Republic of the Congo', 'Congo-Kinshasa' : 'Democratic Republic of the Congo', 'Russia' : 'Russia (Soviet Union)' , 'Yemen' : 'Yemen (North Yemen)'})
Variaciones_Others["Country"] = Variaciones_Others["Country"].replace({'Burma' : 'Myanmar (Burma)', 'Congo-Brazzaville' : 'Republic of the Congo', 'Congo-Kinshasa' : 'Democratic Republic of the Congo', 'Russia' : 'Russia (Soviet Union)' , 'Yemen' : 'Yemen (North Yemen)'})
Variaciones_Refinado["Country"] = Variaciones_Refinado["Country"].replace({'Burma' : 'Myanmar (Burma)', 'Congo-Brazzaville' : 'Republic of the Congo', 'Congo-Kinshasa' : 'Democratic Republic of the Congo', 'Russia' : 'Russia (Soviet Union)' , 'Yemen' : 'Yemen (North Yemen)'})

In [6]:
#Analicemos las distintas bases de datos
periods = [Exportaciones_netas['Month'], Incidentes_geopoliticos['Start_month'], Terrorismo['period'], Variaciones_crudo['level_1'], Variaciones_NGPL['level_1'],Variaciones_Others['level_1'], Variaciones_Refinado['level_1']]


analisis = pd.DataFrame({'nombres' : ['Exportaciones_netas', 'Incidentes_geopoliticos', 'Terrorismo', 'Variaciones_crudo', 'Variaciones_NGPL', 'Variaciones_Others', 'Variaciones_Refinado'],
                                'extension' : [len(x) for x in periods],
                                'maxima' : [np.max(x) for x in periods],
                                'minima' : [np.min(x) for x in periods] }, 
                                columns=["nombres",'extension','maxima', 'minima'])
analisis.sort_values("minima")

                   nombres  extension    maxima    minima
2               Terrorismo       1605   2018-12   1972-01
1  Incidentes_geopoliticos      52989   2019-12   1989-01
0      Exportaciones_netas       9102   2020-06   2002-01
3        Variaciones_crudo      21200  Sep 2019  Apr 1973
4         Variaciones_NGPL      16400  Sep 2019  Apr 1993
5       Variaciones_Others      16400  Sep 2019  Apr 1993
6     Variaciones_Refinado      16400  Sep 2019  Apr 1993

# Next spets:
### DataFrames Globales
- Una tabla de terrorismo vs valores de crudo desde abril del 73 hasta diciembre de 2018
- Una tabla de terrorismo e incidentes vs todas las variaciones de valores dede abril del 92 hasta diciembre de 2018
- Una tabla de exportaciones netas vs valores, incidentes y terroismo desde enero 2002 hasta diciembre de 2018
- Un tabla de exportaciones netas vs valores e incidentes desde enero 2002 hasta septiembre de 2019

### DataFrames por paises
- Pendiente de como se va hacer

In [7]:
Terrorismo.head()

,iyear,iday,extended,resolution,country_txt,region_txt,targtype1_txt,targsubtype1_txt,alternative_txt,multiple,success,motive,nkill,nwound,property,propextent_txt,propvalue,latitude,longitude,period
0,1972,1,0,NaN,Kuwait,Middle East & North Africa,Business,Gas/Oil/Electric,NaN,0,1,NaN,0.0,0.0,1,Unknown,NaN,NaN,NaN,1972-01
1,1972,14,0,NaN,Iran,Middle East & North Africa,Business,Gas/Oil/Electric,NaN,0,0,NaN,0.0,0.0,1,NaN,NaN,35.724533,51.405190,1972-08
2,1972,23,0,NaN,Iran,Middle East & North Africa,Utilities,Oil,NaN,0,0,NaN,0.0,0.0,0,NaN,NaN,30.345997,48.287136,1972-08
3,1973,24,0,NaN,Venezuela,South America,Utilities,Oil,NaN,0,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1973-11
4,1973,6,1,1974-04-20,Argentina,South America,Business,Gas/Oil/Electric,NaN,0,1,NaN,0.0,0.0,0,NaN,NaN,-34.617680,-58.444435,1973-12

In [36]:
#Variaciones_crudo["Country"]
#Variaciones_NGPL.head()
Variaciones_crudo.groupby(Variaciones_crudo["level_1"]).sum()[0]
#Variaciones_NGPL['level_1'],Variaciones_Others['level_1'], Variaciones_Refinado['level_1']

level_1
Apr 1973    1142.0162.01787.01012.035.0120.0206.3740000000...
Apr 1974    1089.0169.01644.01165.061.0255.0105.147202.061...
Apr 1975    1010.0165.01197.01335.037.0208.0191.604223.054...
Apr 1976    1071.0108.01117.01667.039.0200.0320.156223.055...
Apr 1977    1230.0194.01223.01841.033.0179.807000000000024...
                                  ...
Sep 2015                                              68594.6
Sep 2016                                                69275
Sep 2017                                              69182.7
Sep 2018                                              69311.7
Sep 2019                                              65719.6
Name: 0, Length: 568, dtype: object

In [9]:
Terrorismo["country_txt", "region_txt", ]

,iyear,iday,extended,resolution,country_txt,region_txt,targtype1_txt,targsubtype1_txt,alternative_txt,multiple,success,motive,nkill,nwound,property,propextent_txt,propvalue,latitude,longitude,period
0,1972,1,0,NaN,Kuwait,Middle East & North Africa,Business,Gas/Oil/Electric,NaN,0,1,NaN,0.0,0.0,1,Unknown,NaN,NaN,NaN,1972-01
1,1972,14,0,NaN,Iran,Middle East & North Africa,Business,Gas/Oil/Electric,NaN,0,0,NaN,0.0,0.0,1,NaN,NaN,35.724533,51.405190,1972-08
2,1972,23,0,NaN,Iran,Middle East & North Africa,Utilities,Oil,NaN,0,0,NaN,0.0,0.0,0,NaN,NaN,30.345997,48.287136,1972-08
3,1973,24,0,NaN,Venezuela,South America,Utilities,Oil,NaN,0,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1973-11
4,1973,6,1,1974-04-20,Argentina,South America,Business,Gas/Oil/Electric,NaN,0,1,NaN,0.0,0.0,0,NaN,NaN,-34.617680,-58.444435,1973-12

# Yearly Data