In [29]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 

monthly = pd.read_csv("../Databases/EIA USEnergy Information Administration/Monthly INT-Export-07-24-2020_09-31-55.csv", header=1)
yearly = pd.read_csv("../Databases/EIA USEnergy Information Administration/Yearly INT-Export-07-24-2020_09-38-32.csv", header=1)


month = pd.DataFrame(monthly)
year = pd.DataFrame(yearly)

In [32]:
monthly = month

del monthly["API"]

In [12]:
available = monthly["Unnamed: 1"].unique().tolist()

In [33]:
monthly = monthly.unstack().reset_index()
monthly.head()

      level_0  level_1                                                  0
0  Unnamed: 1        0                                              World
1  Unnamed: 1        1                                         Production
2  Unnamed: 1        2           Total petroleum and other liquids (Mb/d)
3  Unnamed: 1        3              Crude oil, NGPL, and other liquids...
4  Unnamed: 1        4                  Crude oil including lease cond...

In [34]:
monthly.tail()

          level_0  level_1      0
1051507  Apr 2020     1843  0.819
1051508  Apr 2020     1844      0
1051509  Apr 2020     1845      0
1051510  Apr 2020     1846  0.819
1051511  Apr 2020     1847      0