In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 

monthly = pd.read_csv("../Databases/EIA USEnergy Information Administration/Monthly INT-Export-07-24-2020_09-31-55.csv", header=1)
yearly = pd.read_csv("../Databases/EIA USEnergy Information Administration/Yearly INT-Export-07-24-2020_09-38-32.csv", header=1)


month = pd.DataFrame(monthly)
year = pd.DataFrame(yearly)

# MONTHLY

In [3]:
#Create a different df to manipulate
monthly = month
#As we are going to use Unnamed column as country, lets change it name by once
monthly = monthly.rename(columns={"Unnamed: 1" : "Country"})
#Delete the not useful column API
del monthly["API"]

In [4]:
# Create especific df for each info we need 
Crude = monthly.loc[monthly["Country"] == '                Crude oil including lease condensate (Mb/d)']
NGPL = monthly.loc[monthly['Country'] == '                NGPL (Mb/d)']
Others = monthly.loc[monthly['Country'] == '                Other liquids (Mb/d)']
Refinery = monthly.loc[monthly['Country'] == '            Refinery processing gain (Mb/d)']

#Get list of countries in the DB:
countries = monthly['Country'].unique().tolist()
#Delete from list non countries elements
del countries[1:8]

#Check integrity of the data
len(NGPL),len(Crude), len(Others), len(Refinery), len(countries)

(231, 231, 231, 231, 231)

In [5]:
#Replace Country column values with countries list
Crude['Country'] = countries
NGPL['Country'] = countries
Others["Country"] = countries
Refinery["Country"] = countries

In [108]:
Refinery.head()

,Country,Jan 1973,Feb 1973,Mar 1973,Apr 1973,May 1973,Jun 1973,Jul 1973,Aug 1973,Sep 1973,...,Jul 2019,Aug 2019,Sep 2019,Oct 2019,Nov 2019,Dec 2019,Jan 2020,Feb 2020,Mar 2020,Apr 2020
7,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2640.732,2674.99,2592.591,2607.892,2718.489,2732.828,2712.787,2516.238,2497.174,2230.022
15,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
23,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069
31,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.425,1.425,1.425,1.425,1.425,1.425,1.425,1.425,1.425,1.425
39,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Myanmar appears as Burma
# Republic of the Congo' appears as 'Congo-Brazzaville'
# Democratic Republic of the Congo' appears as 'Congo-Kinshasa'

netos = ['Albania','Algeria','Angola','Argentina','Azerbaijan','Benin','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Congo-Brazzaville', 'Congo-Kinshasa', 'Denmark','Ecuador','Egypt','Estonia','Gabon','Georgia','Ghana','Guatemala','Indonesia','Iran','Iraq','Kazakhstan','Kuwait','Kyrgyzstan','Libya','Malaysia','Mexico','Mongolia', 'Burma','Nigeria','Norway','Oman','Qatar','Russia','Saudi Arabia','South Sudan','Sudan','Trinidad and Tobago','Tunisia','Turkmenistan','United Arab Emirates','United Kingdom','Venezuela','Vietnam','Yemen']

# for x in netos:
#     if x not in countries:
#         print(x)

In [19]:
# Final Selection of Data according our required countries
Crude = Crude.loc[Crude["Country"].isin(netos)]
NGPL = NGPL.loc[NGPL["Country"].isin(netos)]
Others = Others.loc[Others["Country"].isin(netos)]
Refinery = Refinery.loc[Refinery["Country"].isin(netos)]

# YEARLY

In [10]:
#Create a different df to manipulate
yearly = year
#As we are going to use Unnamed column as country, lets change it name by once
yearly = yearly.rename(columns={"Unnamed: 1" : "Country"})
#Delete the not useful column API
del yearly["API"]

In [12]:
# Create especific df for each info we need 
Crude_Y = yearly.loc[yearly["Country"] == '                Crude oil including lease condensate (Mb/d)']
NGPL_Y = yearly.loc[yearly['Country'] == '                NGPL (Mb/d)']
Others_Y = yearly.loc[yearly['Country'] == '                Other liquids (Mb/d)']
Refinery_Y = yearly.loc[yearly['Country'] == '            Refinery processing gain (Mb/d)']

#Get list of countries in the DB:
countries_Y = yearly['Country'].unique().tolist()
#Delete from list non countries elements
del countries_Y[1:8]

#Check integrity of the data
len(NGPL_Y),len(Crude_Y), len(Others_Y), len(Refinery_Y), len(countries_Y)

(231, 231, 231, 231, 231)

In [13]:
#Replace Country column values with countries list
Crude_Y['Country'] = countries
NGPL_Y['Country'] = countries
Others_Y["Country"] = countries
Refinery_Y["Country"] = countries

In [16]:
netos = ['Albania','Algeria','Angola','Argentina','Azerbaijan','Benin','Bolivia','Brazil','Brunei','Cameroon','Canada','China','Colombia','Congo-Brazzaville', 'Congo-Kinshasa', 'Denmark','Ecuador','Egypt','Estonia','Gabon','Georgia','Ghana','Guatemala','Indonesia','Iran','Iraq','Kazakhstan','Kuwait','Kyrgyzstan','Libya','Malaysia','Mexico','Mongolia', 'Burma','Nigeria','Norway','Oman','Qatar','Russia','Saudi Arabia','South Sudan','Sudan','Trinidad and Tobago','Tunisia','Turkmenistan','United Arab Emirates','United Kingdom','Venezuela','Vietnam','Yemen']

# Final Selection of Data according our required countries
Crude_Y = Crude_Y.loc[Crude_Y["Country"].isin(netos)]
NGPL_Y = NGPL_Y.loc[NGPL_Y["Country"].isin(netos)]
Others_Y = Others_Y.loc[Others_Y["Country"].isin(netos)]
Refinery_Y = Refinery_Y.loc[Refinery_Y["Country"].isin(netos)]

In [18]:
Crude_Y.head()

,Country,1973,1974,1975,1976,1977,1978,1979,1980,1981,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
20,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,44,...,10.843835616438357,15.515068493150684,16.83606557377049,17.008219178082193,20.506849315068493,20.161643835616438,22.74863387978142,16,15.586301369863014,14.495890410958904
28,Algeria,1097,1008.6,982.6,1075.1,1152.3,1231,1224,1105.9071038251366,1002.0328767123287,...,1540,1540,1532.2431693989072,1461.7808219178082,1420,1429,1348.360655737705,1305.6328767123289,1258.6575342465753,1258.958904109589
44,Angola,162,169,165,108,194,131,147,150,130,...,1908.5205479452054,1755.6164383561643,1787.049180327869,1802.6575342465753,1741.6164383561643,1801.86301369863,1769.6147540983607,1665.7452054794521,1593.041095890411,1447.5068493150684
68,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491,496,...,626.0560876712328,581.4326739726027,551.1197896174864,539.8485780821918,532.1596794520548,532.2387671232876,510.5601092896175,479.4438356164384,489.27945205479455,507.241095890411
108,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--,...,1034.627397260274,982.9945205479452,921.7486338797814,870.5945205479452,846.758904109589,848.4739726027398,833.5382513661202,790.758904109589,798.3068493150685,767.2794520547945

In [21]:
# EXPORT TO EXCEL

# writer = pd.ExcelWriter("../Excel_reports/Variaciones_Consumo.xlsx")

# Crude_Y.to_excel(writer, sheet_name='Yearly_Crude', startrow=2)              
# NGPL_Y.to_excel(writer, sheet_name='Yearly_NGPL', startrow=2)
# Others_Y.to_excel(writer, sheet_name='Yearly_Others', startrow=2)
# Refinery_Y.to_excel(writer, sheet_name='Yearly_Refinery', startrow=2)

# Crude.to_excel(writer, sheet_name='Monthly_Crude', startrow=2)
# NGPL.to_excel(writer, sheet_name='Monthly_NGPL', startrow=2)
# Others.to_excel(writer, sheet_name='Monthly_Others', startrow=2)
# Refinery.to_excel(writer, sheet_name='Monthly_Refinery', startrow=2)


# # Get sheet1
# writer.sheets['Yearly_Crude'].write('A1', 'Yearly_Crude oil & lease condensate (Mb/d)')
# writer.sheets['Yearly_NGPL'].write('A1', 'Yearly_NGPL (Mb/d)')
# writer.sheets['Yearly_Others'].write('A1', 'Yearly_Other liquids (Mb/d)')
# writer.sheets['Yearly_Refinery'].write('A1', 'Yearly_Refinery processing gain (Mb/d)')

# writer.sheets['Monthly_Crude'].write('A1', 'Monthly_Crude oil & lease condensate (Mb/d)')
# writer.sheets['Monthly_NGPL'].write('A1', 'Monthly_NGPL (Mb/d)')
# writer.sheets['Monthly_Others'].write('A1', 'Monthly_Other liquids (Mb/d)')
# writer.sheets['Monthly_Refinery'].write('A1', 'Monthly_Refinery processing gain (Mb/d)')

# writer.save()